<h1> 
    {{ (hero.id)?'Edit':'New' }}
    Hero: 
    <small>{{hero.superhero}} </small> </h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>SuperHero</mat-label>
                <input type="text" matInput required [(ngModel)]="hero.superhero">
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input type="text" matInput required [(ngModel)]="hero.alter_ego">
            </mat-form-field>
        </div>
        <mat-form-field fxFlex="100">
            <mat-label>First Appearance</mat-label>
            <input type="text" matInput required [(ngModel)]="hero.first_appearance">
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Characters</mat-label>
            <input type="text" matInput required [(ngModel)]="hero.characters">
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Creator</mat-label>
            <mat-select required [(ngModel)]="hero.publisher">
                <mat-option *ngFor="let brand of publisher" [value]="brand.id">
                    {{brand.desc}}    
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Picture Url</mat-label>
            <input type="url" matInput required [(ngModel)]="hero.alt_img">
        </mat-form-field>
        <br>

        <div fxLayout>
            <button mat-raised-button color="primary" (click)="save()">
                <mat-icon>edit</mat-icon>
                {{ (hero.id)?'Update':'Create' }}
            </button>
            <span class="spacer"></span>
            <button *ngIf="hero.id" (click)="deleteHero()" mat-raised-button color="warn">
                <mat-icon>remove</mat-icon>
                Delete
            </button>
        </div>

    </div>
    <div fxFlex="50">
        <img [src]="hero | heroImage">
    </div>
</div>