<div class="text-layout">
  <h1> {{ name | uppercase }} </h1>
  
  <button iconPos="right" type="button" pButton icon=" pi pi-send" class="p-button-help" label="Change Name" (click)="showName()"></button>
  <p-card [header]="name | titlecase" subheader="Hola">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, repellendus minima. Quo quis doloremque ipsa doloribus dolor ducimus adipisci autem in, minima quia laboriosam velit. Architecto dignissimos iusto ipsam dolores?
  </p-card>
</div>
